@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poppins&display=swap');

:root {
    --blue100 : rgb(202, 238, 244);
    --blue200: rgb(155, 221, 223);
    --blue300: rgb(75, 88, 114);
    --black: black;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Sans', sans-serif;
    background-color: pink;
}

.profile {
    alt: "Avatar";
    width: 30%;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#profileWarning {
    display: none;
    padding: 25px;
    background-color: red;
    color: white;
}

#closeWarning {
    float: right;
    margin-left: 25px;
}

/*Nav bar*/
ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    list-style-type: none;
    margin: 0;
    padding: 0;
    
    background-color: var(--blue100);
    font-weight: bold;
}

/*Nav bar links*/
li a{
    text-decoration: none;
    padding: 15px 15px;
    display: block;

    color: var(--black);
}

li a:hover {
    background-color:var(--blue200);
}

li a:active, a:visited {
    color:var(--blue300);
}


#helloText {
    border:1px solid;
    text-align: center;
    background-color: black;
    border-color: black;
    color: yellow;
    margin: 0;
}
#hiText {
    border:1px solid;
    text-align: center;
    background-color: yellow;
    color: purple;
    margin: 0;
}
#tab6downheretext {
    position: absolute;
    bottom: 0px;
    right: 10px;
}

.todo-body{
    margin: 0px 50px 0px 50px;
}

#entry-list{
    display: block;
    background: rgb(255, 255, 255);
}

.entry-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: rgb(255, 255, 255);
    padding: 10px;
    color: var(--blue300);
}

.entry-item button{
    color: var(--blue300);
    border: 0;
    padding: 10px;
    font-weight: bold;
}

.entry-item button:hover {
    background-color: var(--blue100);
    cursor: pointer;
}

.complete{
    background-color: rgb(196, 222, 145);
}

.delete{
    background-color: rgb(231, 146, 148);
}