:root {
    --color-midnight: #272643;
    --color-cerulean: #2c698d;
    --color-powder: #bae8e8;
    --color-mint: #cfffd7;
    --color-white: #ffffff;
    --color-grey: #e8e8e8;
}

h1{
    text-align: left;
    margin-bottom: 2px;
    color: var(--color-midnight);
}

p{
    color: var(--color-midnight);
 
}

.text-and-plus-container{
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.box-plus-sign {
    
}

.popup-container{
  z-index: 1; /* Sit on top */
  padding: 10px;
  position: absolute;
  top : 0;
  left: 0;
  height:1266px;
  width:585px;
  overflow:hidden;
  border-radius: 100px;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.popup-box{
    z-index: 2;
    position: absolute;
    top: 400px;
    background-color: var(--color-white);
    padding: 10px;
    border-radius: 30px;
    width: 500px;
}