:root {
    --color-midnight: #272643;
    --color-cerulean: #2c698d;
    --color-powder: #bae8e8;
    --color-mint: #cfffd7;
    --color-white: #ffffff;
    --color-grey: #e8e8e8;
}

h1{
    text-align: left;
    margin-bottom: 2px;
    color: var(--color-midnight);
}

p{
    color: var(--color-midnight);
 
}
/*Each health type has a container*/
.healthtype-container {
    margin-bottom: 10px;
}

.rounded-box {
    box-shadow: 0 0 20px 1px var(--color-grey);
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.circlebar-container{
    width: 40%;
    padding: 10px;
}